.imgT {
  border: 1px solid rgb(236, 230, 230);
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  height: auto;
}
/* .imgT:hover {
  transform: scaleX(-1);
} */



tr {
  border-radius: 30px;
  padding: 10px;
  width: 400px;;
  height: 40%;
  border: 1px solid #2f2626;
  ;
  background-color: blanchedalmond;
}
td{
  border-radius: 0px;
  padding: 20px;
  border: 1px solid rgba(34, 27, 27, 0.108);
  background-color: blanchedalmond;
}

body{
  background-color: blanchedalmond;
}

.name{
  background-color: blanchedalmond;
  text-align: center;
  color: #2f2626;
  
  text-decoration: none;
}
span.error{
  color: #b94a48;
  font-weight: bold;
  font-size: larger;
  font-style: oblique;
}